.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #3c6f9c;
  padding: 16px;
  border-radius: 4px;
  color: #3c6f9c;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

.Weather h1 {
  color: #3c6f9c;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 5px 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 60px;
  vertical-align: top;
  font-weight: 600;
}

.Weather .unit {
  color: rgb(33, 33, 35);
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
}

.Weather .btn {
  background: #3c6f9c;
  border-color: #87a8d0;
}
